.b-tab {
  /* padding: 20px; */
  display: none;
}

.b-tab.active {
  display: block;
}

.b-nav-tab {
  display: inline-block;
  margin: 0 1px;
}

.b-nav-tab.active {
  color: white;
  background-color: #4b2034;
  font-weight: bolder;
}

.b-nav-tab:hover,
.b-nav-tab:focus {
  background-color: #4b2034;
}

.body-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 5px;
  padding: 0 20px;
}

.buscador {
  border: none;
  height: 40px;
  flex: 1;
  font-style: italic;
  font-size: 1.2em;
}

.botao-buscar {
  border: none;
  background: #742f4e;
  height: 40px;
  color: white;
  font-size: 1.2em;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5px;
}

.nav-bar-down {
  margin: 0 6px;
  background-color: #4b2034;
  height: 7px;
}

.b-nav-tab {
  flex: 1;
  text-align: center;
  justify-content: center;
  background: #742f4e;
  margin: 0 1px;
}

.rodape-content {
  display: flex;
  flex-direction: row-reverse;
}

.rodape-content a {
  margin: 0 10px;
}

.select {
  display: inline;
  margin-right: 10px;
  border: none;
  background: #341324;
  color: white;
  font-size: 1.2em;
}

.tab-content {
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
}

.titulo {
  margin: 0 10px 0 0;
  font-weight: bolder;
  padding: 0 0;
}

.wrapper {
  background: #341324;
  padding: 10px 0 20px 0;
  color: white;
}

.wrapper a,
.wrapper h1,
.wrapper h2 {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .b-nav-tab {
    margin: 1px 0;
  }

  .nav-bar-down {
    display: none;
  }

  .titulo,
  .select {
    margin-bottom: 20px;
  }
}
